@page
@model LoginModel

@{
    Layout = "_Layout2";
}

<body style="margin-top: 100px; background-color: darkmagenta;">
    <h1 align="center">Login</h1>
    <div align="center">
        <div class="col-md-4">
            <section>
                <img src="~/lib/pinkscribble.png" class="pinkscribble" style="left:430px; width:650px; height:auto" />
                <form id="account" method="post" name="loginForm" onsubmit="return validateForm()">
                    <div class="form-group" style="padding-bottom:20px;">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <input asp-for="Input.Email" placeholder="Username" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="padding-bottom:20px;">
                        <input asp-for="Input.Password" placeholder="Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="padding-bottom:20px;">
                        <div class="checkbox" align="left">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                            <p style="float:right">
                                <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                            </p>
                        </div>
                    </div>
                    <span style="width: 25vw; display:inline-block;">
                        <a asp-controller="Home" asp-action="Home" button type="submit" class="btn btn-primary" style="width:150px; margin-right: 40px;">Log in</a>
                        <a asp-controller="Home" asp-action="Index" button type="submit" class="btn btn-primary" style="width:150px; margin-left: 10px;">Back</a>
                    </span>
                </form>
            </section>
        </div>
    </div>
</body>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
