@model PPEsOrderingSystem.Models.ClassProducts
@inject Login_Registration_Page.Data.ApplicationDbContext _context;
@{
    ViewData["Title"] = "Create";
    var categoryList = _context.Categories.ToList();
}

<link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
<link href="~/lib/froala_editor_4.0.7/css/froala_editor.css" rel="stylesheet" />

<h1> Add Products</h1>


<hr />
<div class="row">
    <div class="col-md-4"
         style="background-color:white">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea id="Description" asp-for="Description" class="ckeditor"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" type="file" accept="image/*" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Supplier</label>
                <select asp-for="Catid" class="form-control"
                        asp-items="@(new SelectList(categoryList, "CatId", "Name"))" required>
                </select>
                <span asp-validation-for="Catid" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-top: 20px; display: inline-block;">
                <input type="submit" value=" Create" class="btn btn-info" />
                <a class="btn btn-info" asp-action="Index">
                    Back
                </a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/ckeditor/ckeditor.js"></script>

    <script>
        $(document).ready(function () {
            CKEDITOR.replace('#Description');
        });
    </script>
}
