@model PPEsOrderingSystem.Models.ClassProducts
@using System.Web
@{
    ViewData["Title"] = "Details";
}

<h1>Product Details</h1>

<hr />

<style>

    strong {
        font-weight: bold;
    }

</style>

<div class="col-md-4">
    <h4>@Model.ProductName</h4>
</div>

<div style="margin-top: 20px; font-size: 18px;">
    <h4>Details: </h4>
    @Html.Raw(Model.Description)
</div>

<div style="margin-top: 20px; display: inline-block;">
    <a class="btn btn-info" asp-controller="Store" asp-action="Index">
        Back to Homepage
    </a>
    <a class="btn btn-info" asp-controller="SupplierInfo" asp-action="Details" asp-route-id="@Model.Catid">
        View Supplier Details
    </a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/ckeditor/ckeditor.js"></script>

    <script>
        $(document).ready(function () {
            CKEDITOR.replace('#Description');
        });
    </script>
}