@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Thank You"]</h1>

<body style="background-color: #c0a1ef;">
    <div class="text-center">
        <br /><br /><br /><br /><br />
        <h1>Thank you for Purchasing!</h1>
        <br<<br />
        <p>We have recieved your orders. The supplier is preparing to ship out...</p>
        <br />
        <a class="text-dark" asp-action="Index">Back to Homepage</a>
    </div>
</body>



