@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our Store</h1>

    <div class="row">
        <div class="col-sm-6" style="width: 27rem; padding-left: 100px; margin-top: 60px;">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/n95.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="width: 27rem; padding-left: 100px; margin-top: 60px;">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/family.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="width: 27rem; padding-left: 100px; margin-top: 60px;">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/n95.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="width: 27rem; padding-left: 100px; margin-top: 60px;">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/n95.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="width: 27rem; padding-left: 100px; margin-top: 60px;">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/n95.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="width: 27rem; padding-left: 100px; margin-top: 60px;">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/n95.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>


