@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>This website serves as our Final Project in our Enterprise Programming - or "ENTPROG" class. It will Simulate an E-commerce website that sells Personal Protective Equipment such as Faceshields and Facemasks, As well as other products used for General Hygiene such as Alcohol, among Others. Granted that there may be other existing sites that already sell Hygiene Products and PPEs, but what will make ours different is the fact that our website will support local suppliers for the Said Products. Here, you can see the different stores and Suppliers along with the products they Offer.</p>

<p>Our Team consists of the Following People:</p>
<ul>
    <li>ABLETIA, Reuel Haylar - Fullstack Developer</li>
    <li>ARIOLA, Joaquin Antonio - Fullstack Developer</li>
    <li> LIM, Ryan Matthew - Fullstack Developer</li>
    <li>PARIÑAS, Gerard Gabriel -  Fullstack Developer</li>
</ul>

