@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>This website serves as our Final Project in our Enterprise Programming - or "ENTPROG" class. It will Simulate an E-commerce website that sells Personal Protective Equipment such as Faceshields and Facemasks, As well as other products used for General Hygiene such as Alcohol, among Others. Granted that there may be other existing sites that already sell Hygiene Products and PPEs, but what will make ours different is the fact that our website will support local suppliers for the Said Products. Here, you can see the different stores and Suppliers along with the products they Offer.</p>

<div class="text-center">
    <br /><br />
    <h2>Our Team</h2>

    <div class="row">
        <div class="col-sm-6" style="width: 20rem; padding-left: 50px; margin-top: 60px;">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/0reuel.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Reuel Abletia</h5>
                    <p class="card-text">Fullstack Developer</p>
                    <a href="https://github.com/reuelabletia" class="btn btn-primary">Github Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="width: 20rem; padding-left: 50px; margin-top: 60px;">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/0joaqs.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Joaquin Ariola</h5>
                    <p class="card-text">Fullstack Developer</p>
                    <a href="https://github.com/JoaqsAriola" class="btn btn-primary">Github Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="width: 20rem; padding-left: 50px; margin-top: 60px;">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/0ryan.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Ryan Lim</h5>
                    <p class="card-text">Fullstack Developer</p>
                    <a href="https://github.com/ryanmatthewlim" class="btn btn-primary">Github Profile</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="width: 20rem; padding-left: 50px; margin-top: 60px;">
            <div class="card" style="width: 16rem;">
                <img class="card-img-top" src="~/images/0gabe.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Gabriel Pariñas</h5>
                    <p class="card-text">Fullstack Developer</p>
                    <a href="https://github.com/gerardgabrielparinas" class="btn btn-primary">Github Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>



