@model PPEsOrderingSystem.Models.StoreViewModel
@inject Login_Registration_Page.Data.ApplicationDbContext _context
@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color: #c0a1ef;">
    <div class="text-center">
        <h1 class="display-4 text-white">Welcome to our Store</h1>

        <div class="row">

            <div class="col-sm-6" style="width: 27rem; padding-left: 100px; margin-top: 40px;">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="~/images/n95.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">N95 Masks</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="width: 27rem; padding-left: 100px; margin-top: 40px;">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="~/images/family.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Rubbing Alcohol</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="width: 27rem; padding-left: 100px; margin-top: 40px;">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="~/images/faceshield.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">10pcs Face Shields</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="width: 27rem; padding-left: 100px; margin-top: 40px;">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="~/images/n95.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="width: 27rem; padding-left: 100px; margin-top: 40px;">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="~/images/n95.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6" style="width: 27rem; padding-left: 100px; margin-top: 40px;">
                <div class="card" style="width: 16rem;">
                    <img class="card-img-top" src="~/images/n95.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">View Product</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</body>


